* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link{
  color: var(--bg1);
}

a:visited{
  color: var(--bg6);
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;

  --bg1: #f7c59f;
  --bg2: #333d5b;
  --bg3: #767b91;
  --bg4: #c7ccdb;
  --bg5: #e1e5ee;
  --bg6: #ffb8b8;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 20px;
  background-color: var(--bg1);
}

.navBody {
  display: flex;
  width: 50%;
  float: right;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navBody li:hover {
  background-color: var(--bg5);
  border-radius: 6px;
}

.navBody li {
  display: inline;
  color: --bg5;
}

.navBody li a{
  color: var(--bg2);
}

.bodyText {
  display: flex;
  font-size: 18px;
  max-width: 80%;
  float: center;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.bodyText2 {
  display: flex;
  width: 100vw;
  font-size: 18px;
  max-width: 70%;
  float: center;
  margin: auto;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.contactList {
  list-style: none;
  margin-left: 10%;
}

@media screen and (max-width: 1024px) {
  .navBody {
      width: 80%;
  }
  h1 {
    width: 80%;
    margin-left: 10%;
  }
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  background-color: var(--bg2);
  color: var(--bg4);
}

h1 {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  padding-right: 44px;
}

.imgCenter {
  display: block;
  border-radius: 50%;
  margin: auto;
  padding: 10px;
  align-items: center;
}

.imgCenterNoRounding {
  display: block;
  margin: auto;
  padding: 10px;
  align-items: center;
}

img {
  height: auto;
  width: auto;
  max-width: 300px;
}
